@import "tailwindcss";

*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.cont{
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

.gen-cont{
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.nav-form{
    width: 50%;
}

@keyframes navOpen {
    100%{
        right: 0;
    }
}



/* Apply the font variable to all headings (if not using Tailwind) */
/* h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-basker), serif;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-red-hat-display), serif;
}